{% extends 'layout.html' %}
{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-6 fw-bold " style="color:rgb(3, 3, 71);">Library Management System</h1>
        <hr>
        <br>
        <div class="col-lg-4 m-auto">
            <p class="lead mb-4" style="color:rgb(6, 6, 96); font-size: 25px;">Making the management of books, members, and transactions more efficient and enjoyable.
            </p>
            <br>
            <hr>
            <br>
            <div class="gap-2 d-sm-flex justify-content-lg-center">
                <!-- <a href="/books" class="btn btn-warning btn-lg px-4">Books</a>
                <a href="/members" class="btn btn-warning btn-lg px-4">Members</a>
                <a href="/transactions" class="btn btn-warning btn-lg px-4">Transactions</a> -->
                <a href="/reports" class="btn btn-warning btn-lg px-4">Report</a>
            </div>
        </div>
    </div>
{% endblock %}